<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h4>Apps</h4>
		{{#if session.isAuthenticated}}
			<p>{{#link-to 'apps.new'}}New App{{/link-to}}</p>
		{{/if}}
		<ul class="list-group">
			{{#each app in controller}}
			  <li class="list-group-item">{{#link-to 'apps.app' app}}{{app.name}}{{/link-to}}</li>
			{{/each}}
		</ul>
	</div>
</div>